<div class="all-cards">
  <div class="caja1">
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img1.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>6.8</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Black Widow</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img2.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>7.9</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Shang Chi</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img3.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>8.4</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Loki</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img4.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>8.3</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">CHow I Met Your Mother</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="caja2">
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img5.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>8.3</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Money Heist</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img6.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>8.8</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Friends</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img7.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>8.1</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">The Big Bang Theory</h5>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/portadas/img8.png"
          alt="Card image cap"
        />
        <div class="box-star">
          <img class="star" src="../../../../assets/star.png" alt="star" />
          <h6>7</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Two And a Half Man</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div> -->
