.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;

  position: absolute;
  width: 320px;
  height: 65px;
  left: 120px;
  top: 472px;

  /* Black/20 */

  /* background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(80px); */
  background-color: #0c2236;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;
}
/*
.text {
  display: inline;
  list-style: none;
} */

.btn.btn-primary.btn-lg {
  margin-right: 5.2px;
  background-color: #0c2236;
  border-color: #0c2236;
  color: #8e95a9;
  font-weight: 500;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #7b6ef6;
  color: #ebe9fe;
}

h3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 120px;
  top: 560px;

  /* Heading/H3 */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600px;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* Grey/400 */

  color: #767e94;
}
p {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 220px;
  top: 562px;
  font-size: 17px;
  line-height: 40px;
  color: #767e94;
}
