<div class="container">
  <div class="frame">
    <!-- <ul>
      <li class="text">Todos</li>
      <li class="text">Películas</li>
      <li class="text">Series</li>
    </ul> -->
    <button type="button" class="btn btn-primary btn-lg">Todos</button>
    <button type="button" class="btn btn-primary btn-lg">Películas</button>
    <button type="button" class="btn btn-primary btn-lg">Series</button>
  </div>
</div>
<h3>Todos</h3>
<p>(120)</p>
