input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 320px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;

  background: rgba(0, 0, 0, 0.1);
  /* Grey/700 */

  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  margin-top: 50px;
  margin-left: 120px;

  background-image: url("../../../../assets/lupa.png");
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  padding-left: 50px;
  color: #ffffff;
  font-size: 18px;
}

input::placeholder {
  padding-left: 40px;
  font-size: 18px;
}
