<div class="container">
  <div class="navbar">
    <img class="logo" src="../../../../assets/logo.png" alt="logo" />
    <div class="d-flex justify-content-end mt-3">
      <ul>
        <li class="item-main">Peliculas</li>
        <li class="item-main">Series</li>
        <li class="item-main">Ingresar -></li>
      </ul>
    </div>
  </div>
</div>
