.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;

  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;

  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
}

.logo {
  height: 32px;
  width: 32px;
  border-radius: 0px;
  left: 14%;
  right: 17.29%;
  top: 5%;
  bottom: 10%;
}

.item-main {
  list-style: none;
  display: inline;
  position: static;
  width: 77px;
  height: 24px;
  left: 16px;
  top: 12px;

  /* Link/Regular */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* Grey/200 */

  color: #a8aebf;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.item-main:hover {
  color: #ffffff;
  cursor: pointer;
}
