<div class="background">
  <div class="vector3"></div>
  <div class="vector4"></div>
  <!-- <div class="vector6"></div>
  <div class="ellipse5"></div>
  <div class="ellipse6"></div>
  <div class="ellipse8"></div> -->
</div>
<header>
  <app-navbar></app-navbar>
</header>
<div class="content">
  <app-home></app-home>
  <app-search></app-search>
  <app-main></app-main>
  <app-cards></app-cards>
</div>
