/* You can add global styles to this file, and also import other style files */
/** {
  margin-left: auto;
  margin-top: auto;
}

body {
  height: 80px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 16px, 120px, 16px, 120px;
  justify: space-between;
}*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* @font-face {
  font-family: Iconsweb;
  src: url("./assets/fonts/Icons_web-Regular.otf") format("opentype");
  src: url("./assets/fonts/Icons_web-Regular.ttf") format("opentype"); */
/* } */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 800px;
  background: #141e30;
  /*background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);*/
  color: white;
}
